* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Arial", sans-serif;
  background-color: #282828;
  color: #fff;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #282828;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal #spinner {
  font-size: 14px;
  color: #98971a;
  font-weight: bold;
  height: 200px;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #282828;
  box-shadow: 0 0 30px #98971a;
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 30px #98971a;
  }
  50% {
    box-shadow: 0 0 60px #98971a;
  }
  100% {
    box-shadow: 0 0 30px #98971a;
  }
}

.video-holder {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  padding: 20px;
}

#video {
  background-color: #212121;
  border-radius: 15px;
  width: 1200px;
  height: 550px;
  /* aspect-ratio: 16 / 9; */
  object-fit: cover;
  box-shadow: 0 0 30px #98971a;
}
@media (width<=1280px) {
  #video {
    width: 1000px;
    height: 500px;
  }
}

#my-video {
  position: absolute;
  right: 20px;
  bottom: 20px;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 0 20px #98971a;
}

.chat-holder {
  flex: 0.5;
  padding: 20px;
  background-color: #3c3836;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  overflow-y: auto;
  color: #ebdbb2;
}

.chat-holder::-webkit-scrollbar {
  width: 8px;
  background-color: #212121;
}

.chat-holder::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: #98971a;
}

.chat-holder .msg {
  margin-bottom: 15px;
}

.input-container {
  display: flex;
  padding: 10px 20px;
  background-color: #212121;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

input {
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 13px;
  background-color: #333333;
  color: #fff;
  margin-right: 10px;
}

button {
  padding: 10px 20px;
  font-size: 14px;
  font-weight: bold;
  color: #121212;
  background-color: #98971a;
  border: none;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #98971a;
}

@media only screen and (max-width: 1000px) {
  body {
    flex-direction: column;
  }

  .video-holder {
    height: 80%;
  }

  .chat-holder {
    height: 20%;
  }

  #my-video {
    width: 150px;
    height: 150px;
  }
}
